In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('train_day32.csv', usecols = ['Age','Fare','SibSp','Parch','Survived'])

In [4]:
df.dropna(inplace = True)

In [5]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [6]:
df['family']= df['SibSp']+df['Parch']

In [7]:
df.head()

   Survived   Age  SibSp  Parch     Fare  family
0         0  22.0      1      0   7.2500       1
1         1  38.0      1      0  71.2833       1
2         1  26.0      0      0   7.9250       0
3         1  35.0      1      0  53.1000       1
4         0  35.0      0      0   8.0500       0

In [13]:
df.drop(columns=['SibSp','Parch'], inplace= True)

In [14]:
X = df.drop('Survived',axis=1)
y= df['Survived']

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state= 42)

In [16]:
# without binarization

clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
accuracy_score(y_pred,y_test)

0.6293706293706294

In [17]:
np.mean(cross_val_score(clf,X,y,cv=10, scoring='accuracy'))

0.6527190923317684

## Applying Binarization

In [18]:
from sklearn.preprocessing import Binarizer

In [19]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [20]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [21]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred1= clf.predict(X_test_trf)

In [23]:
accuracy_score(y_pred1,y_test)

0.6293706293706294

In [24]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(clf,X_trf,y, cv=10,scoring='accuracy'))

0.6331964006259779