# Fetching data from an API

In [1]:
import pandas as pd
import requests

### Movies data collection from api and convert it to csv file

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.7695,8.712,28901
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.0761,8.685,21846
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.5015,8.600,13194
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.8371,8.566,16716
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.4083,8.500,9407

In [6]:
df = pd.DataFrame()

In [8]:
df

Empty DataFrame
Columns: []
Index: []

In [11]:
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    
    # Use pd.concat() instead of append()
    df = pd.concat([df, temp_df], ignore_index=True)

In [12]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.7695,8.712,28901
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.0761,8.685,21846
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.5015,8.600,13194
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.8371,8.566,16716
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.4083,8.500,9407

In [14]:
df.shape

(17120, 7)

In [15]:
df.to_csv('movies.csv')